# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

#Ignore byebug_history
.byebug_history

# I dont want to show my secrets
/config/secrets.yml 
/config/initializers/carrierwave.rb
.env
