<div class="row">
  <div class="container app-header">
    <h3 class="masthead-brand">Jient DoNgoc</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
 