<div class="card" data-id=<%= porfolio_item.id %>>
  <%= image_tag porfolio_item.thumb_image unless porfolio_item.thumb_image.nil? %>
  <p class="card-text">
    <span><%= link_to porfolio_item.title, porfolio_show_path(porfolio_item) %></span> <%= porfolio_item.subtitle %>
  </p>
</div>